@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar globally */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  transition: background-color 0.3s, color 0.3s;
}
